.button,
.btn {
  border: 0;
}

.woocommerce #payment button.button,
.btn {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.28px;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
  padding: 14px 50px !important;
  display: inline-block;

  @include colored-links( white, white, white );

  &-primary {
    background-color: $brown;
    transition: transit( background-color );

    &:hover {
      background-color: $dblue;
      color: white !important;
    }
  }

  &-outline {
    background-color: white;
    color: $blue !important;
    border: 1px solid $brown;
  }

  &-close {
    position: absolute;
    z-index: 9999997;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 20px 0;
    background-color: $blue;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;

    @include bp( 1024 ) {
      display: none;
    }
  }
}
