.content_address,
.footer_address {
  .custom-logo-link {
    display: inline-block;
    padding: 0;

    img {
      width: 205px;
      height: auto;
    }
  }

  .email,
  address {
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
  }

  .emails {
    span {
      display: inline-block;
      float: left;
      margin-right: 0.25em;
    }

    .other-emails {
      margin-left: 56px;
    }
  }

  .numbers {
    padding-top: 25px;
  }

  .number {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1.76px;
  }

  .social-icons {
    position: relative;
    text-align: left;
    padding-top: 30px;
  }
}

.content_address {
  address {
    font-size: 16px;
    font-weight: 400;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    margin-bottom: 49px;
  }

  .email {
    font-weight: 400;
    font-size: 16px;
  }

  .numbers {
    padding-top: 0;
  }

  .number {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

#mapid {
  float: left;
  width: 100%;
}
