/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

input,
textarea {
  padding: 16px;
  text-transform: uppercase;
  border: 0;
  width: 100%;
  box-sizing: border-box;
}

.dg-contact_form {
  fieldset {
    border: 0;

    input,
    textarea {
      background-color: $wblue;
      margin-bottom: 19px;
    }

    label {
      display: none;
    }

    textarea {
      text-transform: none;

      &::placeholder {
        text-transform: uppercase;
      }
    }
  }
}

.search {
  .alert {
    margin-bottom: 100px;
  }
}
