.posts-navigation {
  float: left;
  clear: both;
}

.woocommerce-pagination {
  text-align: center;

  ul.page-numbers {
    border: 0 !important;
  }

  li {
    border: 0 !important;
  }

  .page-numbers {
    background-color: transparent !important;
    font-size: 14px;
    letter-spacing: 1.12px;
    padding: 1em !important;

    @include colored-links( $blue, $blue, $blue );

    &.current {
      border: 1px solid $greyOver;
      font-weight: 700;
    }

    &.prev,
    &.next {
      position: relative;

      &::after {
        position: absolute;
        background-color: white;
        left: 0;
      }
    }

    &.prev {
      &::after {
        content: 'PREV';
      }
    }

    &.next {
      &::after {
        content: 'NEXT';
      }
    }
  }
}
