@import '../common/mixins';
@import '../common/variables';

$base-duration: 500ms;

.dg-preloader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999999;
}

// SPINNERS STYLES
.spinner {
  @include absmid( 'b' );

  // Common styles
  width: 4rem;
  height: 4rem;

  // Individual styles
  &.spinner3 {
    border-top: 3px solid rgba( black, 0.5 );
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: rotation 0.8s linear infinite;
  }
}

// ANIMATIONS
@keyframes rotation {
  from {
    transform: rotate( 0deg );
  }

  to {
    transform: rotate( 360deg );
  }
}
