.widget {
  @include bp( 1 ) {
    width: 90%;

    @include center-block;
  }

  @include bp( 768 ) {
    width: unset;
  }

  &-title {
    font-weight: 700;
    letter-spacing: 1.28px;
    margin-bottom: 34px;
    font-size: 16px;
    text-transform: uppercase;
  }

  &-body {
    letter-spacing: 1.2px;
  }
}

.shop-sidebar {
  .widget {
    border-bottom: 1px solid $greyOver;

    &:last-child {
      border: 0;
    }
  }

  .widget-title {
    font-size: 20px;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 0 !important;
    font-size: 18px;
    letter-spacing: 1.44px;

    @include colored-links( $blue, $brown, $blue );
  }
}

.footer_navigation_menus_widget {
  .widget-body {
    a {
      font-weight: 600;
      font-size: 15px;
      line-height: 32px;
      letter-spacing: 1.2px;
    }
  }
}

.woocommerce {
  &.widget_product_categories {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .cat-parent {
        .children {
          padding-left: 1.5em;
        }
      }
    }
  }

  .wpfCheckbox {
    padding-right: 1em;
  }

  .wpfCheckboxHier {
    li {
      & > ul {
        padding-left: 1.5em;
      }
    }
  }

  .widget.wpfWoofiltersWidget {
    div[data-filter-type='wpfOnSale'] label::before,
    div[data-filter-type='wpfAttribute'] label::before,
    input[type='checkbox'] {
      border: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      background-color: $wblue !important;
    }

    .wpfValue {
      font-size: 18px;
      line-height: 35px;
      letter-spacing: 1.44px;
    }

    .wpfFilterWrapper {
      margin: 0 !important;
      padding: 0 0 1.5em !important;
    }

    div[data-filter-type='wpfOnSale'],
    div[data-filter-type='wpfAttribute'] {
      .wpfDisplay {
        display: inline-block;
        margin-top: 4px !important;
      }

      label {
        margin-right: 8px !important;

        &::before {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
  }
}
