.custom-page-header,
.shop-header {
  text-align: center;
  background-color: $wblue;

  @include bp( 1 ) {
    padding-top: ( 63 / 2 ) * 1px;
    padding-bottom: ( 72 / 2 ) * 1px;
  }

  @include bp( 11024 ) {
    padding-top: 63px;
    padding-bottom: 72px;
  }

  .page-title {
    font-weight: 700;
    font-size: 33px;
  }

  .woocommerce-breadcrumb {
    margin-top: 17px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.12px;
  }
}

.term-description {
  margin-bottom: 50px;

  @include bp( 1, 1199 ) {
    max-width: 80%;

    @include center-block;
  }

  @include bp( 1200 ) {
    float: left;
    width: 100%;
  }
}

.woocommerce {
  .content {
    @include center-block;

    max-width: $w1192;

    @include bp( 1 ) {
      margin-top: 75px;
    }

    @include bp( 1024 ) {
      //margin-top: 150px;
    }
  }

  &-result-count,
  &-ordering {
    @include bp( 1, 1023 ) {
      margin: 0 20px 1em !important;
    }
  }

  &-result-count {
    padding-top: 0.6em;
  }

  &-ordering {
    width: 285px;

    .dg-sort-by {
      font-weight: 700;
      padding-top: 9px;
      display: inline-block;
    }

    .orderby {
      @include do_select();

      font-weight: 400;
      width: 210px;
      float: right;
    }
  }

  ul.products {
    @include bp( 1024, 1230 ) {
      padding-left: 20px;
      padding-right: 20px;
    }

    li.product {
      text-align: center;
      margin: 0;
      margin-right: 31px;
      margin-bottom: 64px;

      @include bp( 1, 1023 ) {
        width: 300px !important;
        display: block;
        margin: 0 auto 30px !important;
        float: unset !important;
      }

      @include bp( 1024 ) {
        flex-grow: 1;
      }

      .onsale {
        background-color: $red;
        margin: 10px 10px 0 0;
        padding: 8px;
      }

      .product-image {
        position: relative;

        &-overlay {
          content: '';
          background-color: rgba( $wblue, 0.86 );
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          transition: transit( opacity );

          span {
            text-transform: uppercase;
            display: inline-block;
            padding: 14px 18px;
            color: white;
            letter-spacing: 1.12px;
            background-color: $blue;
            max-width: 83px;

            @include absmid( 'b' );
          }
        }
      }

      &:hover > a > div > .product-image-overlay {
        opacity: 1;
        z-index: 10;
      }

      a.woocommerce-loop-product__link {
        display: inline-block;
        position: relative;

        img {
          position: relative;
          margin: 0;
        }
      }

      .sku {
        &-product {
          text-align: center;
          font-size: 14px;
          letter-spacing: 1.12px;
          text-transform: uppercase;
          position: relative;
          display: block;
          clear: both;
          margin-top: 34px;

          .wrappe .r {
            display: inline-block;
            position: relative;

            @include bp( 1 ) {
              max-width: 300px;
            }
          }

          a {
            @include colored-links( $blue, $blue, $blue );
          }
        }

        &-code {
          display: inline-block;
        }
      }

      .woocommerce-loop-product__title {
        text-align: center;
        //margin: 28px 0 26px;
        margin: 14px 0 13px;
        font-weight: 700;
        letter-spacing: 1.28px;
        font-size: 16px;
      }

      .price {
        font-size: 18px;
        letter-spacing: 1.44px;

        .amount {
          color: $brown;
          font-weight: 700;
        }

        del {
          .amount {
            color: $blue;
            font-weight: 400;
          }
        }

        ins {
          text-decoration: none;
        }
      }
    }

    &.columns-3 {
      li.product {
        &:last-child,
        &:nth-child(3n+0) {
          @include bp( 769, 1023 ) {
            padding-right: 0;
          }

          @include bp( 1024 ) {
            margin-right: 0;
          }
        }

        @include bp( 1, 767 ) {
          width: 100%;
        }

        @include bp( 769, 1023 ) {
          padding: 0 10px;
        }

        .sku-code > a.woocommerce-loop-product__link {
          @include bp( 1, 767 ) {
            width: 300px;
            display: inline;
          }
        }
      }
    }

    &.columns-4 {
      display: flex;
      flex-wrap: wrap;

      li.product {
        &:last-child,
        &:nth-child(4n+0) {
          @include bp( 1024 ) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.shop-page-message {
  float: left;
  width: 100%;

  .message {
    width: 90%;
    max-width: $w1192;
    text-align: center;
    clear: both;
    border-top: 1px solid $greyOver;

    @include bp( 1 ) {
      margin-top: ( 90 / 2 ) * 1px;
      padding-top: ( 85 / 2 ) * 1px;
      margin-bottom: ( 80 / 2 ) * 1px;
    }

    @include bp( 1024 ) {
      margin-top: 90px;
      padding-top: 45px;
      margin-bottom: 80px;
    }

    @include center-block;
  }
}
