.dg-cart {
  &-basket-icon {
    position: relative;
  }

  &-popup {
    display: none;
    background-color: $wblue;
    border: 1px solid $grey;
    width: 338px;
    position: absolute;
    top: 45px;
    right: -37px;

    &::after,
    &::before {
      bottom: 100%;
      left: 87%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      //border-color: rgba( 136, 183, 213, 0 );
      border-bottom-color: $wblue;
      border-width: 21px;
      margin-left: -21px;
    }

    &::before {
      //border-color: rgba( 194, 225, 245, 0 );
      border-bottom-color: $grey;
      border-width: 23px;
      margin-left: -23px;
    }

    .total-quantities {
      padding: 0 41px 0 36px;
      margin-top: 30px;

      strong {
        font-size: 15px;
      }

      .quantities {
        float: right;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.96px;
      }
    }
  }

  &-product {
    padding: 0 25px 0 30px;
    margin-top: 20px;
    float: left;
    width: 100%;
    box-sizing: border-box;
  }

  &-image {
    float: left;
    width: 115px;

    img {
      display: block;
      width: 115px;
      height: 115px;
    }
  }

  &-content {
    float: right;
    width: 150px;

    .title {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.6px;
      margin-bottom: 12px;
    }

    .desc {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.8px;
    }

    .price {
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.96px;
      color: $brown;
      margin-top: 20px;
    }
  }

  &-subtotal {
    background-color: $grey;
    clear: both;
    padding: 8px 32px 8px 30px;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.96px;
    margin-top: 22px;
    float: left;
    width: 100%;
    box-sizing: border-box;

    .subtotal-amount {
      float: right;
    }
  }

  &-buttons {
    clear: both;
    float: left;
    width: 100%;
    padding: 16px 28px;
    box-sizing: border-box;

    a {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;

      &::after {
        content: '';
      }

      &.view-cart {
        float: left;
        padding: 12px 32px !important;
      }

      &.checkout-btn {
        float: right;
        padding: 13px 32px !important;
      }
    }

    .dg-continue-shopping-wrap {
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 16px;

      .close {
        padding: 12px !important;
        max-width: 150px;

        @include center-block;
      }
    }
  }
}

