.woocommerce-cart {
  .shop_table {
    button.button {
      color: white;
      background-color: $blue !important;
      transition: transit( background-color );

      &:hover {
        background-color: $dblue !important;
      }

      &:disabled {
        color: white !important;
      }
    }

    .product-name {
      a {
        @include colored-links( $blue, $brown, $blue );
      }
    }
  }
}

.woocommerce {
  table.shop_table_responsive tr td::before,
  .woocommerce-page table.shop_table_responsive tr {
    td::before {
      @include bp( 1, 768 ) {
        content: '' !important;
        display: none;
      }
    }
  }
}

.woocommerce table.shop_table_responsive .woocommerce-shipping-totals.shipping td:nth-child(2n),
.woocommerce-page table.shop_table_responsive .woocommerce-shipping-totals.shipping td:nth-child(2n) {
  display: none;
}

.wc-proceed-to-checkout {
  .wcppec-checkout-buttons {
    display: none;
  }
}
