.checkout {
  .woocommerce {
    overflow-x: hidden;

    &-checkout {
      max-width: $w1192;

      @include center-block;

      @include bp( 1, 1249 ) {
        padding: 0 20px;
      }

      #customer_details,
      #dg-order-review {
        display: none;

        #billing_last_name_field {
          display: none;
        }

        .woocommerce-billing-fields {
          h3 {
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            padding-left: 3px;
            margin-bottom: 29px;
            line-height: 1;
          }
        }

        .woocommerce-shipping-fields__field-wrapper,
        .woocommerce-billing-fields__field-wrapper {
          .form-row-first {
            width: 100%;
            box-sizing: border-box;
            padding-top: 0;
          }
        }

        .dg-door-number {
          margin-top: 118px;
          position: relative;

          &::before {
            position: absolute;
            top: -( 29 + 22 ) * 1px;
            content: 'delivery address';
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
          }
        }

        &.show_fields {
          display: block;
          padding-top: 36px;
          border-top: 1px solid $wblue;
          margin-top: 57px;

          .input-text {
            font-weight: 600;
            background-color: $wblue;

            &::placeholder {
              color: $overlay;
            }
          }

          .select2 {
            @include do_select();

            padding-left: 0;
            padding-right: 0;
            background-image: none;
            text-transform: uppercase;
            background-color: $wblue;
            border-radius: 0;
            padding-top: 18px;
            padding-bottom: 18px;

            &-selection {
              border: 0;
              background-color: transparent;

              &__rendered {
                padding: 0 16px;
                font-weight: 600;
              }
            }
          }

          #ship-to-different-address {
            width: 100%;
            margin-bottom: 0;

            span {
              font-size: 20px;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 1;
              //margin-bottom: 29px;

              @include bp( 1 ) {
                display: block;
              }
            }

            label {
              position: relative;
              width: 100%;
              display: block;

              input {
                position: absolute;
                right: 128px;
                width: auto;
                overflow-x: initial;

                @include bp( 1, 1023 ) {
                  bottom: -22px;
                }

                @include bp( 1024 ) {
                  top: 4px;
                }

                &::before {
                  content: '';
                  display: block;
                  width: 12px;
                  height: 12px;
                  background-color: $brown;
                  border-radius: 100%;
                  border: 4px solid $wblue;
                  position: absolute;
                  top: -4px;
                  left: -4px;
                }

                &:checked::before {
                  background-color: $wblue;
                }

                &::after {
                  content: 'deliver to me';
                  font-size: 14px;
                  font-weight: 600;
                  letter-spacing: 1.19px;
                  color: $brown;
                  display: block;
                  position: absolute;
                  width: 200px;
                  left: 20px;
                  top: -5px;
                }
              }
            }
          }

          .woocommerce-additional-fields {
            margin-top: 0; //29px

            p {
              padding-top: 0;
              padding-left: 0;

              textarea {
                height: 188px;
              }
            }
          }

          &.pickup {
            .col-2 {
              .woocommerce-shipping-fields,
              .woocommerce-additional-fields {
                display: none; // hide receiver information
              }
            }
          }
        }
      }
    }

    .woocommerce-shipping-totals {
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          input {
            display: inline-block;
            width: auto;
            margin: 0 10px 0 0 !important;
          }
        }
      }
    }
  }
}

.cart,
.basket {
  a.checkout-button.button.alt {
    background-color: $blue;
    transition: transit( background-color );

    &:hover {
      background-color: $dblue;
    }
  }
}

.woocommerce-shipping-fields {
  span {
    margin-bottom: 29px;
  }

  .shipping_address {
    #shipping_door_number_field {
      &::before {
        content: '' !important;
      }
    }
  }
}

.dg-checkout-navigation {
  display: block;
  float: left;
  width: 100%;
  padding: 67px 0 76px;

  .btn-wrap {
    text-align: center;
  }
}

.dg-user-account-information {
  @include bp( 1024 ) {
    float: left;
    width: 48%;
  }

  @include bp( 1191 ) {
    padding-right: 20px;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .side {
    &-left {
      @include bp( 1024 ) {
        width: 50%;
        float: left;
        padding-right: 20px;
      }
    }
  }
}

.dg-order-details {
  @include bp( 1024 ) {
    float: right;
  }
}

#order_review {
  max-width: 480px;

  @include bp( 1024 ) {
    float: left;
  }

  #payment {
    background-color: transparent;

    button.button {
      background-color: $brown;
      border-radius: 0;
      float: left;
    }
  }
}

.woocommerce-form-coupon-toggle {
  float: left;
  width: 100%;
}
