.dg-delivery-options {
  max-width: ( 276 * 2 ) + 30px;
  margin-top: 50px;
  margin-bottom: 90px;

  @include center-block;

  &-title {
    text-align: center;
  }

  .delivery {
    &-home,
    &-store {
      width: 276px;
      padding: 54px 0;
      text-align: center;
      background-color: $wblue;

      @include bp( 1, 599 ) {
        @include center-block;
      }

      @include bp( 600 ) {
        display: inline-block;
      }

      img {
        margin-bottom: 46px;
      }

      .title {
        font-weight: 700;
      }
    }

    &-home {
      @include bp( 1, 599 ) {
        margin-bottom: 30px;
      }
    }

    &-store {
      @include bp( 600 ) {
        float: right;
      }
    }
  }

  a {
    @include colored-links( $blue, $brown, $blue );
  }
}
