.dg-wc-login-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( $blue, 0.6 );
  z-index: 99999999999999999999;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }

  form {
    &.checkout_coupon,
    &.login,
    &.register {
      background-color: $wblue;
      border-radius: 0;
      border: 0;
      max-width: 510px;
      padding: 57px 65px 56px 60px;
      box-sizing: border-box;

      @include absmid( 'b' );

      label {
        display: none;
      }

      input.input-text {
        margin-bottom: 19px;
        display: block;
        width: 100%;
      }
    }

    .dg {
      &-left,
      &-right {
        width: 50%;
      }

      &-left {
        float: left;

        .lost_password {
          text-align: left;
          font-size: 14px;
          margin-top: 16px;

          a {
            @include colored-links( $overlay, $brown, $overlay );
          }
        }
      }

      &-right {
        float: right;

        .btn.btn-outline {
          background-color: transparent;
          padding: 14px 33px;
          float: right;
        }

        .woocommerce-form-login__rememberme {
          font-size: 14px;
          position: relative;
          float: right;
          margin-right: 20px;
          color: $overlay;

          input {
            position: absolute;
            top: 8px;
            right: -20px;
            width: auto;
          }
        }
      }
    }

    .form-row {
      padding: 0;
      margin: 0;

      &.form-row-first,
      &.form-row-last {
        width: 100% !important;
        margin: 0;
        padding: 0;
      }
    }
  }

  .dg-form-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.95px;
    margin-bottom: 33px;
  }

  .checkout-as-new {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 1.05px;
    padding-top: 33px;
    margin-top: 38px;
    margin-bottom: 37px;
    border-top: 2px solid white;
  }
}
