.opening {
  &-hours {
    .title {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 29px;
      line-height: 1;
    }

    .opening-day {
      margin-bottom: 16px;
    }

    .days {
      font-weight: 700;
      text-transform: uppercase;
    }

    .open,
    .close {
      text-transform: uppercase;
    }

    .note {
      margin-top: 35px;
      font-style: italic;
      font-size: 14px;
      letter-spacing: 1.19px;
      color: $overlay;
    }
  }
}
