#dg-order-review {
  margin-top: 48px;

  #order_review_heading {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 35px;
    line-height: 37px;
  }

  table.shop_table {
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: $wblue;
    max-width: 480px;
    border-collapse: collapse;

    tr.order-total {
      background-color: $grey;
    }

    td,
    th {
      border-top-color: white;
      border-top-width: 2px;
      font-size: 12px;
      letter-spacing: 0.96px;
      padding-right: 29px;
    }

    th {
      text-transform: uppercase;
    }

    .product {
      &-thumbnail {
        padding: 0;
        width: 100px;

        img {
          display: block;
          max-width: 100px;
        }
      }

      &-name {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.6px;
        padding-left: 37px;
      }

      &-total {
        text-align: right;
      }
    }

    tfoot {
      th {
        padding-left: 30px;
        padding-right: 0;
      }

      tr td {
        text-align: right;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }
}
