.woocommerce.single-product {
  #main {
    .woocommerce-breadcrumb {
      display: none;
    }
  }

  .woocommerce-message {
    a {
      //display: none;
    }
  }

  div.product {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    border-bottom: 1px solid $wblue;

    @include bp( 1, 1249 ) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .woocommerce-product-gallery {
      &__image {
        padding-right: 10px;

        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }

    .images {
      a.woocommerce-main-image.zoom {
        overflow: hidden;
      }
    }

    .summary {
      @include bp( 1, 1023 ) {
        text-align: center;
      }

      @include bp( 1024 ) {
        max-width: 500px;
        margin-left: 35px;
      }

      @include bp( 1440 ) {
        margin-left: 105px;
      }

      .wcppec-checkout-buttons {
        &.woo_pp_cart_buttons_div {
          display: none;
        }
      }
    }

    .product_title {
      line-height: 40px;
    }

    &_title {
      font-weight: 700;
      font-size: 25px;
      line-height: 34px;
      letter-spacing: 1.25px;
    }

    &-code {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 19px;
      margin-top: 13px;
    }

    .price {
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 1.76px;
      color: $brown;
      margin: 50px 0;
    }

    .cart {
      margin-top: 39px;

      @include bp( 1, 1023 ) {
        width: 245px;

        @include center-block;
      }

      .variations {
        margin-bottom: 39px;
      }

      .quantity-title {
        float: left;
        font-weight: 700;
        margin-top: 16px;
      }

      .in-stock {
        display: inline-block;
        margin-top: 16px;
      }

      .quantity {
        border: 1px solid $greyOver;
        margin: 0;

        /* @include bp( 1 ) {
          margin-left: ( 23 / 2 ) * 1px;
          margin-right: ( 25 / 2 ) * 1px;
        }

        @include bp( 1024 ) {
          margin-left: 23px;
          margin-right: 25px;
        } */

        .qty {
          width: 80px;
          text-align: center;
          padding: 10px;
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .button {
        margin-top: 100px;
        display: block;
        clear: both;
        background-color: $brown;
        border-radius: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.44px;
        padding: 20px 44px 20px 44px;
        width: 260px;
      }
    }
  }

  .dg-add-to-wishlist {
    &-wrap {
      .tinv-wishlist {
        float: left;
        position: relative;
        margin-left: -10px;
        font-size: 30px !important;

        a {
          @include colored-links( $brown, $brown, $brown );

          &::before {
            font-size: 30px !important;
          }
        }

        .tinvwl-tooltip {
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 1.12px;
          text-transform: uppercase;
          margin-top: 13px;
          margin-left: 10px;
          display: inline-block;
          position: absolute;
          width: 140px;
        }
      }
    }
  }

  .single_variation_wrap {
    position: relative;

    .qty {
      &-text,
      &-stock {
        float: left;
        margin-top: 15px;
        font-weight: 700;
      }
    }
  }
}

.minus,
.plus {
  border: 0;
  background-color: transparent;
  padding: 14px 15%;
  cursor: pointer;

  @include absmid('v');
}

.plus {
  left: 50px;
}

.minus {
  left: 1px;
}

form.cart {
  position: relative;

  .dg-add-to-cart-wrap {
    position: relative;
    float: left;
    width: 100%;
  }

  .quantity {
    // margin: 0 20px 0 60px !important;
    position: absolute;
  }

  .plus,
  .minus {
    top: 22px;
  }

  .minus {
    left: 4px;
    padding: 10px;
    z-index: 1;
  }

  .in-stock {
    margin-left: 150px;
  }

  .plus {
    right: 0;
    padding: 10px;
  }
}

.woocommerce-variation-add-to-cart {
  position: relative;
  display: block;
  width: 114px;
  height: 54px;
  float: left;
  margin: 0 20px;
}

.woocommerce-message {
  border-top-color: $blue;

  &::before {
    color: $blue;
  }

  a.button {
    border-radius: 0;
    background-color: $blue;
    color: white;
    text-transform: uppercase;
  }
}

// You May Also Wish products
.ymaw-products {
  margin-top: 90px;
  margin-bottom: 105px;

  .woocommerce {
    ul.products.columns-4 {
      display: block;

      li.product {
        margin: 0 10px;
        clear: none !important;
      }

      li.first {
        clear: none !important;
      }
    }
  }

  a.button {
    display: none;
  }

  .custom-slick-arrow {
    &.custom-slick {
      &-prev,
      &-next {
        &::after {
          top: 25%;
        }
      }

      &-prev {
        &::after {
          transform: rotate( 180deg );

          @include bp( 1 ) {
            left: 10px;
          }

          @include bp( 1440 ) {
            left: -( 34 + 50 ) * 1px;
          }
        }
      }

      &-next {
        &::after {
          @include bp( 1 ) {
            right: 10px;
          }

          @include bp( 1440 ) {
            right: -( 34 + 50 ) * 1px;
          }
        }
      }
    }
  }
}

#swipebox-overlay {
  z-index: 9999999 !important;
}
