.thank-you {
  .custom-page-header {
    padding: 90px 0;

    h1 {
      margin-bottom: 27px;
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .content {
    margin: 0;
  }

  .footer-newsletter {
    display: none;
  }
}
