.sku {
  &-product {
    .wrapper {
      .tinv-wishlist {
        position: absolute;
        top: -9px;

        @include bp( 1 ) {
          right: -30px;
        }

        a.tinvwl_add_to_wishlist_button {
          margin-top: 0;

          &::before {
            color: $brown;
          }
        }
      }
    }
  }

  &-code {
    position: relative;
  }
}
