.login-register-menu {
  position: relative;
  z-index: 1;

  @include bp( 1, 1023 ) {
    max-width: 400px;
    margin: 35px 10px 10px 0;
  }

  @include bp( 1024 ) {
    position: absolute;

    @include absmid( 'v' );

    right: 0;
    margin-top: -7px;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    @include bp( 1 ) {
      line-height: 1;
      display: table;
      height: 22px;
    }

    &.loginout-menu-item,
    &.register-menu-item {
      @include bp( 1, 1023 ) {
        display: none;
      }
    }

    &.dg-cart-basket-icon {
      position: relative;
      top: 3px;

      @include bp( 1, 1023 ) {
        margin: 0 10px;
      }

      .cart-count {
        position: absolute;
        right: -1.2em;
        top: -4px;
        background-color: $brown;
        border-radius: 100%;
        padding: 3px;
        display: block;
        width: 17px;
        height: 17px;
        box-sizing: border-box;
        text-align: center;
        line-height: 1;
      }
    }

    .dashicons {
      position: relative;
      top: 3px;
    }
  }

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    font-size: 13px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;

    @include bp( 1024 ) {
      padding-right: 20px;

      &::after {
        content: '|';
        padding-left: 7px;
        position: absolute;
        bottom: 0;
        top: 8px;
      }
    }

    &.last-item {
      padding: 0;

      &::after {
        content: '';
      }
    }
  }
}
