.shop-menu {
  display: block;
  position: relative;
  z-index: 9999994;
  width: 100%;

  &-open {
    margin-top: 10px;
    padding: 14px;
    color: white;
    z-index: 9999995;

    @include bp( 1024 ) {
      display: none;
    }

    .dashicons {
      line-height: 2.5;
    }
  }

  &-logo {
    @include bp( 1 ) {
      position: relative;
      z-index: 9999996;
    }

    @include bp( 1024 ) {
      display: none;
    }

    a {
      background-color: $blue;
      margin: 0;
      padding: 20px 0;
    }
  }

  &-wrapper {
    @include bp( 1, 1023 ) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999995;
      display: none;
    }

    @include bp( 1024 ) {
      max-width: $w1192;
      display: block !important; // If screen size is 1024+ px, force it visible

      @include center-block;
    }
  }

  &-underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( white, 0.96 );
    z-index: 9999992;

    @include bp( 1024 ) {
      display: none;
    }
  }

  .nav {
    @include bp( 1, 1023 ) {
      padding-left: 20%;
      margin-top: 40px;
      max-height: 400px;
      overflow-y: scroll;
    }

    @include bp( 1024 ) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include bp( 199999 ) {
      position: absolute;
      top: 0;
      height: 100%;
      //width: 100%;
      background-color: white;
      //border-top: 1px solid rgba( white, 0.21 );
      padding-left: 20%;
    }

    li {
      @include bp( 1, 1023 ) {
        width: 250px;
      }

      @include bp( 1024 ) {
        display: block;
        position: relative;
      }

      a {
        @include bp( 1 ) {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          padding: 10px 20px;
          letter-spacing: 1.28px;

          @include colored-links ( $blue, $lblue, $blue );
        }

        @include bp( 1024 ) {
          padding: 21px;
        }
      }

      ul {
        display: none;

        @include bp( 1, 1023 ) {
          margin-left: 15px;
        }

        li {
          a {
            @include bp( 1024 ) {
              color: white !important;
              display: block;
            }
          }
        }
      }

      &:hover > ul {
        @include bp( 1024 ) {
          display: block;
          position: absolute;
          margin-left: 0;
          background-color: $lblue;
          width: 200px;
          padding: 10px 0;

          a {
            text-transform: none;
          }

          li {
            &:hover > ul {
              position: absolute;
              top: 0;
              left: 100%;
              background-color: $llblue;
            }

            &.menu-item-has-children > a::after {
              @include bp( 1024 ) {
                background-image: url( '../images/icons/Arrow Right.png' );
                background-repeat: no-repeat;
                right: 20px;
              }
            }
          }
        }
      }

      &.menu-item-has-children > a {
        &::after {
          @include bp( 1 ) {
            content: '';
            background-image: url( '../images/icons/Arrow Down.png' );
            background-repeat: no-repeat;
            display: block;
            width: 10px;
            height: 10px;

            @include absmid( 'v' );

            right: 0;
          }
        }
      }
    }
  }
}
