.social-icons {
  @include bp( 1 ) {
    text-align: center;
    padding-top: 20px;
    display: none;
  }

  .banner & {
    @include bp( 1024 ) {
      padding: 0;
      display: block;

      @include absmid( 'v' );

      left: 0;
    }
  }

  li {
    @include bp( 1 ) {
      display: inline-block;
      margin-right: 10px;
    }

    &.last-item {
      margin-right: 0;
    }
  }

  .search-icon {
    margin-left: 10px;
    cursor: pointer;
  }
}
