@import 'blocks/hero-image-slider';
@import 'blocks/shop-3-categories-single-image';
@import 'blocks/shop-3-categories-images';
@import 'blocks/trending-products';
@import 'blocks/image-left-text-right';
@import 'blocks/testimonials';
@import 'blocks/simple-image-slider';
@import 'blocks/grey-background-block';
@import 'blocks/bulleted-options';

.dg-full-width-block {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.maltese-cross {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cross {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url( '../images/icons/Maltese Cross Gold.png' );

    @include center-block;

    &-border {
      &-left,
      &-right {
        flex-grow: 1;
        display: inline-block;
        height: 1px;
        background-color: rgba( $brown, 0.5 );
      }

      &-left {
        margin-right: 10px;
      }

      &-right {
        margin-left: 10px;
      }
    }
  }
}

.top-title {
  @include bp( 1 ) {
    text-align: center;
    margin-bottom: ( 115 / 2 ) * 1px;
  }

  @include bp( 1024 ) {
    margin-bottom: 115px;
  }

  .mixed-title {
    .bold,
    .regular {
      @include bp( 1 ) {
        font-size: 33px;
        line-height: 37px;
      }
    }

    .bold {
      font-weight: 700;
    }

    .regular {
      font-weight: 300;
    }
  }

  .title-text {
    @include bp( 1 ) {
      margin-top: 19px;
      letter-spacing: 1.28px;
    }
  }
}

.custom-slick-arrow {
  &.custom-slick {
    &-prev,
    &-next {
      &::after {
        content: '';
        background-image: url( '../images/icons/arrow-grey-white.png' );
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        z-index: 2;
        top: 50%;
        cursor: pointer;
      }
    }

    &-prev {
      &::after {
        left: -10px;
        transform: rotate( 180deg );
      }
    }

    &-next {
      &::after {
        right: -10px;
      }
    }
  }
}
