.bulleted-options {
  .bulleted-option {
    padding-bottom: 18px;
    padding-top: 18px;
    border-bottom: 1px solid $wblue;

    &:last-of-type {
      border: 0;
      margin-bottom: 70px;
    }

    &.current {
      background-color: $wblue;

      img {
        transform: rotate( 90deg );
      }
    }

    &-title {
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.32px;
      padding-left: 32px;
      cursor: pointer;

      img {
        margin-right: 36px;
        transform: rotate( 0 );
        transition: transit( rotate );
      }
    }

    &-text {
      display: none;
      margin-top: 37px;
      padding: 0 32px 32px;
    }
  }
}
