section.hero-image-slider {
  position: relative;
  overflow: hidden;

  .hero-slider-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: rgba( $greyOver, 0.35 );
  }

  .maltese-cross-wrap {
    max-width: 236px;

    @include center-block;
  }

  .hero-slides {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  .hero-slide-wrap {
    @include bp( 1024 ) {
      position: relative;
      float: left;
      width: 100%;
    }
  }

  .slide-wrapper {
    @include bp( 1024 ) {
      max-width: $w1192;

      @include center-block;
    }
  }

  .hero-slider {
    max-width: 100%;
    position: relative;

    .slide-content {
      @include bp( 1 ) {
        text-align: center;

        @include center-block;
      }

      @include bp( 1024 ) {
        @include absmid( 'v' );
      }
    }

    .content-box {
      @include bp( 1024 ) {
        display: block;
        padding: ( 93 / 2 ) * 1px ( 118 / 2 ) * 1px;
        border: 4px solid #fff;
        margin-left: 50px;
      }

      @include bp( 1440 ) {
        padding: 93px 118px;
        margin-left: 0;
      }
    }

    .image {
      img {
        @include bp( 1 ) {
          width: 50%;
          padding-top: 40px;

          @include center-block;
        }

        @include bp( 1024 ) {
          float: right;
        }
      }
    }

    .title {
      @include bp( 1 ) {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 236px;
        line-height: 37px;
        letter-spacing: 0;

        @include center-block;
      }

      @include bp( 600 ) {
        font-size: 29px;
      }

      @include bp( 1024 ) {
        margin-top: 0;
        margin-bottom: 35px;
      }
    }

    .text {
      @include bp( 1 ) {
        font-size: 14px;
        letter-spacing: 1.28px;
        margin-top: 10px;
        max-width: 236px;

        @include center-block;
      }

      @include bp( 1024 ) {
        margin-top: 34px;
        margin-bottom: 50px;
      }
    }
  }

  .btn-wrap {
    margin-top: 10px;
    text-align: center;

    .btn {
      max-width: 244px;
    }
  }
}
