section.image-left-text-right {
  max-width: $w1192;

  @include center-block;

  @include bp( 1 ) {
    margin-top: ( 102 / 2 ) * 1px;
    padding: 0 20px;
  }

  @include bp( 1024 ) {
    margin-top: 102px;
  }

  .image-content {
    @include bp( 1024 ) {
      display: flex;
      justify-content: space-between;
    }
  }

  .maltese-cross {
    @include bp( 1 ) {
      padding: 25px 0;
      max-width: 100%;
    }

    @include bp( 1024 ) {
      padding: 48px 0;
    }
  }

  img {
    @include center-block;
  }

  .side {
    &-left,
    &-right {
      @include bp( 1024 ) {
        flex-grow: 1;
        width: 50%;
      }
    }

    &-right {
      position: relative;
      max-width: 597px;
      padding: 0 20px 40px 20px;

      @include center-block;
      @include grey_grad;
    }
  }

  .title-content {
    @include bp( 1 ) {
      padding-top: 40px;
    }

    @include bp( 768 ) {
      padding: 40px;
    }

    @include bp( 1024 ) {
      @include absmid( 'v' );
    }

    @include bp( 1440 ) {
      padding: 0 103px;
    }

    .title {
      @include bp( 1 ) {
        font-weight: 600;
        font-size: 29px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .content {
      text-align: center;
    }
  }

  .btn-wrap {
    text-align: center;
    margin-top: 56px;
  }
}
