section.shop-3-categories-single-image {
  .shop-categories {
    position: relative;

    @include bp( 1 ) {
      text-align: center;
      background-size: cover;
      background-position: 50% 50%;
    }

    @include bp( 768 ) {
      display: flex;
      justify-content: space-between;
    }
  }

  .category-content {
    @include bp( 1 ) {
      padding: 60px 0;
    }

    @include bp( 768 ) {
      flex-grow: 1;
      padding: 126px 0;
      width: 100%;
    }
  }

  .shop-category {
    flex-grow: 1;

    &-1 {
      background-color: rgba( $brown, 0.6 );
    }

    &-2 {
      background-color: rgba( $blue, 0.6 );
    }

    &-3 {
      background-color: rgba( $overlay, 0.6 );
    }
  }

  .title {
    display: inline-block;
    font-size: 33px;
    text-decoration: none;
    color: white;
    font-weight: 300;

    strong {
      font-weight: 700;
    }

    &::after {
      content: '';
      background-image: url( '../images/icons/arrow-t.png' );
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-left: 12px;
    }
  }
}
