section.shop-3-categories-images {
  max-width: $wider;
  overflow: hidden;

  @include bp( 1, 767 ) {
    padding: 0 20px;
  }

  &:not(.dg-full-width-block) {
    @include center-block;
  }

  .top-title {
    @include bp( 1024 ) {
      margin-bottom: 55px;
    }
  }

  .shop-categories {
    @include bp( 768 ) {
      display: flex;
      justify-content: space-between;
    }

    .custom-slick-arrow {
      &.custom-slick {
        &-prev {
          &::after {
            @include bp( 1 ) {
              left: -10px;
              transition: transit( left );
            }

            @include bp( 768 ) {
              left: 5px;
            }

            @include bp( 1800 ) {
              left: 0;
            }
          }
        }

        &-next {
          &::after {
            @include bp( 1 ) {
              right: -10px;
              transition: transit( right );
            }

            @include bp( 768 ) {
              right: 5px;
            }

            @include bp( 1800 ) {
              right: 0;
            }
          }
        }
      }
    }
  }

  .section {
    &-title {
      font-size: 33px;
      color: $blue;
      text-align: center;
      margin-bottom: 19px;
      line-height: 1;

      @include bp( 1 ) {
        //margin-top: 30px;
      }

      @include bp( 1024 ) {
        //margin-top: 98px;
      }

      .bold {
        font-weight: 700;
      }
    }

    &-text {
      text-align: center;

      @include bp( 1 ) {
        margin-bottom: 50px;
      }

      @include bp( 1024 ) {
        margin-bottom: 111px;
      }
    }
  }

  .category-content {
    display: block;
    text-decoration: none;
    position: relative;

    @include colored-links( $blue, $blue, $blue );

    @include bp( 1, 767 ) {
      max-width: 590px;

      @include center-block;
    }

    @include bp( 768 ) {
      flex-grow: 1;
      padding: 10px;
    }

    img {
      display: block;
      width: 100%;
      max-width: 590px;
      max-height: 720px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1.76px;
    position: absolute;
    bottom: 53px;
    left: 63px;

    &::after {
      content: '';
      background-image: url( '../images/icons/arrow-grey-white.png' );
      background-size: 25px 25px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 25px;
      height: 25px;
      position: absolute;
      right: -( 13 + 25 ) * 1px;
    }
  }
}
