@mixin sliderOverlay(  ) {
  position: relative;

  &::after {
    display: none;
    content: '';
    position: absolute;
    background-color: $blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  @include bp( 1, 1024 ) {
    &::after {
      display: block;
    }
  }

  @include bp( 1025 ) {
    &::after {
      display: block;
    }
  }
}

.simple-image-slider {
  margin-top: 79px;
  margin-bottom: 79px;

  .simple-slide {
    @include bp( 1 ) {
      margin: 0 15px;
    }

    img {
      @include center-block;
    }
  }

  .custom-slick {
    &-prev,
    &-next {
      &::after {
        margin-top: -22px !important;
      }
    }

    &-prev {
      &::after {
        left: 52px !important;
      }
    }

    &-next {
      &::after {
        right: 52px !important;
      }
    }
  }

  .slick-slide {
    &:not(.slick-active) {
      @include bp( 1025 ) {
        @include sliderOverlay;
      }
    }

    @include bp( 768, 1025 ) {
      &.slick-active {
        &:not(.slick-current) {
          @include sliderOverlay;
        }
      }
    }
  }
}
