section.testimonials {
  display: block;
  overflow: hidden;
  position: relative;

  @include bp( 1 ) {
    margin-top: ( 123 / 2 ) * 1px;
  }

  @include bp( 1024 ) {
    margin-top: 123px;
  }

  .testimonial-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 92px 0 107px;
  }

  .top-title {
    position: relative;
    z-index: 2;
    color: white;
    margin-bottom: 52px;
  }

  .testimonials-slides {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    max-width: 1011px;

    @include bp( 1 ) {
      padding: 0 20px;
    }

    @include center-block;
  }

  .name {
    color: $blue;
    font-size: 18px;
    letter-spacing: 1.44px;
    font-weight: 700;
    margin-top: 40px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    opacity: 0.8;
    z-index: 1;
  }

  .custom-slick-arrow {
    position: absolute;
    left: 50%;
    bottom: -64px;
    width: 25px;
    height: 25px;
    transform: translateX( -50% );

    &.custom-slick {
      &-prev,
      &-next {
        &::after {
          width: 25px;
          height: 25px;
          background-size: 25px 25px;
          top: 0;
          left: 0;
        }
      }

      &-prev {
        &::after {
          margin-left: -15px;
          //right: 20px;
        }
      }

      &-next {
        &::after {
          margin-left: 15px;
          //left: 20px;
        }
      }
    }
  }
}
