section.trending-products {
  display: block;
  max-width: $w1192;

  @include center-block;

  .section {
    &-title {
      font-size: 33px;
      color: $blue;
      text-align: center;
      margin-bottom: 19px;

      @include bp( 1 ) {
        margin-top: 30px;
      }

      @include bp( 1024 ) {
        margin-top: 98px;
      }

      .bold {
        font-weight: 700;
      }
    }

    &-text {
      letter-spacing: 1.28px;
      color: $blue;
      text-align: center;
      margin-bottom: 113px;

      @include bp( 1, 1023 ) {
        margin-bottom: 40px;
        width: 80%;

        @include center-block;
      }
    }
  }

  .woocommerc {
    ul.products {
      display: flex;
      flex-wrap: wrap;

      li.product {
        text-align: center;
        margin: 0;
        margin-right: 31px;
        margin-bottom: 64px;

        &:last-child,
        &:nth-child(4n+0) {
          @include bp( 1024 ) {
            margin-right: 0;
          }
        }

        @include bp( 1, 1023 ) {
          width: 300px;

          @include center-block;
        }

        @include bp( 1024 ) {
          flex-grow: 1;
        }

        .onsale {
          background-color: $red;
          margin: 10px 10px 0 0;
          padding: 8px;
        }

        .product-image {
          position: relative;

          &-overlay {
            content: '';
            background-color: rgba( $wblue, 0.86 );
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: transit( opacity );

            span {
              text-transform: uppercase;
              display: inline-block;
              padding: 14px 18px;
              color: white;
              letter-spacing: 1.12px;
              background-color: $blue;
              max-width: 83px;

              @include absmid( 'b' );
            }
          }
        }

        &:hover > a > div > .product-image-overlay {
          opacity: 1;
          z-index: 10;
        }

        a.woocommerce-loop-product__link {
          display: inline-block;
          position: relative;

          img {
            position: relative;
            margin: 0;
          }
        }

        .sku {
          &-product {
            text-align: center;
            font-size: 14px;
            letter-spacing: 1.12px;
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            margin-top: 34px;

            a {
              @include colored-links( $blue, $blue, $blue );
            }
          }
        }

        .woocommerce-loop-product__title {
          text-align: center;
          margin: 28px 0 26px;
          font-weight: 700;
          letter-spacing: 1.28px;
          font-size: 16px;
        }

        .price {
          font-size: 18px;
          letter-spacing: 1.44px;

          .amount {
            color: $brown;
            font-weight: 700;
          }

          del {
            .amount {
              color: $blue;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .shop-page-btn {
    text-align: center;
    position: relative;

    @include bp( 1 ) {
      margin-top: ( ( 109 - 64 ) / 2 ) * 1px;
      margin-bottom: ( 105 / 2 ) * 1px;
    }

    @include bp( 1024 ) {
      margin-top: ( 109 - 64 ) * 1px;
      margin-bottom: 52px;
    }

    .border {
      &-left,
      &-right {
        border: 1px solid $grey;

        @include absmid( 'v' );

        @include bp( 1 ) {
          width: 5%;
          transition: transit( width );
        }

        @include bp( 425 ) {
          width: 10%;
        }

        @include bp( 768 ) {
          width: 25%;
        }

        @include bp( 1024 ) {
          width: 35%;
        }
      }

      &-right {
        right: 0;
      }
    }
  }
}
