footer.content-info {
  color: white;
  background-color: $blue;
  float: left;
  width: 100%;

  a {
    text-decoration: none;

    @include colored-links( white, $brown, white );
  }

  hr {
    border-color: $wblue;
    opacity: 0.21;
  }

  .container {
    max-width: $w1192;
    clear: both;

    @include center-block;
  }

  .widgets {
    @include bp( 1 ) {
      padding-top: 96px;
      padding-bottom: 38px;
    }

    @include bp( 768 ) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.footer-newsletter {
  background-color: $wblue;
  padding: 78px 0;
  float: left;
  width: 100%;

  .newsletter-content {
    //max-width: $w1192;
    max-width: 1112px;

    @include center-block;

    @include bp( 1, 1023 ) {
      text-align: center;
      max-width: 250px;
    }

    @include bp( 768, 1023 ) {
      max-width: 305px;
    }

    @include bp( 1024 ) {
      padding: 0 20px;
    }

    .mixed-title {
      color: $blue;
      line-height: 37px;

      @include bp( 1024 ) {
        margin-top: 6px;
      }
    }

    .top-title,
    .email,
    .subscribe-btn {
      @include bp( 1, 1023 ) {
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
      }
    }

    .subscribe-btn {
      cursor: pointer;
      line-height: 22px;
      padding-top: 14px;
      padding-bottom: 14px;
      border-radius: 0;
      color: white;
      background-color: $brown;
      transition: transit( background-color );

      &:hover {
        background-color: $dblue;
      }
    }

    .top-title {
      margin-top: 0;
      font-size: 18px;

      @include bp( 1024 ) {
        float: left;
        margin-right: 43px;
        margin-bottom: 0;
      }
    }

    #mc_embed_signup {
      @include bp( 1024 ) {
        float: right;
      }

      #mc_embed_signup_scroll {
        @include bp( 1024 ) {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    label.email-label {
      display: none;
    }

    .required {
      &.email {
        letter-spacing: 1.28px;
        padding: 14px;

        @include bp( 1024 ) {
          width: 350px;
          transition: transit( width );
        }

        @include bp( 1300 ) {
          width: 495px;
        }
      }
    }
  }
}

.payment-credits {
  @include bp( 1024, 1439 ) {
    width: 90%;

    @include center-block;
  }

  margin-bottom: 20px;

  @include bp( 1440 ) {
    width: 100%;

    @include clearfix;
  }

  .pc-wrapper {
    @include bp( 1024 ) {
      //display: flex;
    }
  }
}

.credits,
.payment-methods {
  @include bp( 1 ) {
    width: 95%;
    font-size: 14px;
    margin-top: 37px;

    @include center-block;
  }

  @include bp( 1440 ) {
    width: unset;
  }
}

.payment-methods {
  @include bp( 1440 ) {
    float: left;
    width: 30%;
  }

  .wrapper {
    @include bp( 1, 1023 ) {
      text-align: center;
    }
  }

  .title {
    opacity: 0.53;
    text-transform: uppercase;
    display: inline-block;

    @include bp( 1 ) {
      margin-bottom: 10px;
    }

    @include bp( 1024 ) {
      margin-right: 26px;
      float: left;
      margin-top: 5px;
    }
  }

  .image {
    display: inline-block;
  }
}

.credits {
  opacity: 0.53;
  margin-top: 37px;

  @include bp( 1440 ) {
    margin-top: 42px;
    float: right;
  }

  .sep {
    @include bp( 1, 1439 ) {
      display: none;
    }
  }

  .credit {
    @include bp( 1, 1023 ) {
      text-align: center;
      display: block;
      margin: 20px 0;
    }

    @include bp( 1024 ) {
      display: inline-block;
    }
  }
}

.search-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $greyOver;
  z-index: 9999999999999999;
  display: none;

  .search-form {
    @include absmid( 'b' );

    width: 80%;

    label,
    .search-submit {
      display: inline-block;
      float: left;
    }

    label {
      width: 80%;
    }

    .search-submit {
      width: 20%;
      cursor: pointer;
    }
  }
}

.grant-logos {
  text-align: center;
  padding: 1em 0;
}
