// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.branding-wrapper {
  @include bp( 1 ) {
    //display: block;
    position: relative;
    display: flex;
  }

  @include bp( 1024 ) {
    width: 90%;
    max-width: $w1192;

    @include center-block;
  }

  @include bp( 101024 ) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.banner {
  position: relative;
  background-color: $blue;
  z-index: 9999995;
}

.brand {
  position: absolute;
  clip: rect( 1px, 1px, 1px, 1px );
}

.custom-logo-link {
  @include bp( 1, 1023 ) {
    //padding: 20px 0;
    padding: 36px 0 33px 0;
    flex-grow: 1;

    @include center-block;
  }

  @include bp( 1024 ) {
    padding: 36px 0 33px 0;
    align-self: center;
    display: block;
  }

  img {
    @include bp( 1 ) {
      @include center-block;
    }

    @include bp( 1, 1023 ) {
      width: 150px;
      height: auto;
    }
  }
}

.custom-page-header,
.shop-header {
  a {
    @include colored-links( $blue, $brown, $blue );
  }
}

/* .main-navigation {
  .menu-toggle {
    //display: block;
    display: none;
    position: absolute;
    right: 20px;

    @include absmid( 'v' );

    width: 48px;
    height: 48px;
    border: 0;
    background-color: transparent;

    &::after {
      content: '\f349';
      font-family: 'dashicons', sans-serif;
      font-size: 48px;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
    }

    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .nav {
    @include bp( 1 ) {
      //display: none;
      position: fixed;
      overflow-y: scroll;
      width: 100%;
      background-color: $blue;
      border-top: 1px solid rgba( white, 0.21 );
    }

    li {
      a {
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 10px 20px;

        @include colored-links ( white, $grey, white );
      }
    }
  }
} */

.site-wide-msg {
  background-color: $dblue;
  color: $grey;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;

  @include bp( 1 ) {
    padding: 12px 0 10px;
  }

  @include bp( 410 ) {
    padding: 2px 0 10px;
  }

  @include bp( 1024 ) {
    padding: 12px 0;
  }

  @include bp( 1 ) {
    font-size: 12px;
  }

  @include bp( 1024 ) {
    font-size: 15px;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    position: relative;

    @include bp( 534 ) {
      margin-left: 21px;
    }

    @include colored-links( $brown, $brown, $brown );

    @include bp( 1, 1023 ) {
      margin-top: 10px;
      display: inline-block;
    }

    img {
      @include absmid( 'v' );

      right: -17px;
      transition: transit( right );
    }

    &:hover > img {
      right: -21px;
    }
  }
}

.grant-header {
  display: none;

  @include bp( 1024 ) {
    display: block;
    top: 50%;
    transform: translateY( -50% );
    position: absolute;
    left: 15%;
  }
}

.grant-header-mobile {
  display: block;
  text-align: center;
  padding-top: 1em;

  @include bp( 1024 ) {
    display: none;
  }
}
