.search,
.page {
  .content {
    max-width: $w1192;

    @include center-block;

    @include bp( 1, 1263 ) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include bp( 1, 1264 ) {
      padding-bottom: 50px;
    }

    @include bp( 1265 ) {
      margin-top: 100px;
    }

    .wp-block-gallery {
      margin: 50px 0;
    }

    .main p {
      &:last-child {
        margin-bottom: 50px;
      }
    }
  }

  &.home {
    .content {
      max-width: unset;
      margin: 0;
      padding: 0;
    }
  }

  &.template-contact-page {
    .contact {
      &-section {
        float: left;
        width: 100%;

        @include bp( 768 ) {
          margin: 50px 0;
        }
      }

      &-wrapper {
        max-width: $w1192;

        @include center-block;

        @include bp( 1 ) {
          padding: 0 20px;
        }
      }
    }

    .content_address {
      @include bp( 1, 1023 ) {
        margin-bottom: 50px;
        margin-left: 15%;
      }

      @include bp( 1024 ) {
        float: left;
        width: 33%;
      }
    }

    .dg-contact_form {
      @include bp( 1024 ) {
        float: right;
        width: 66%;
      }
    }

    .contact-map {
      float: left;
      width: 100%;
      clear: both;
      margin-top: 101px;
      position: relative;

      .im {
        @include bp( 1, 485 ) {
          max-width: unset;
          width: 1920px;
          height: 485px;

          @include absmid( 'h' );
        }
      }
    }
  }
}

.error404 {
  .container {
    text-align: center;

    .image {
      margin-top: 100px;

      img {
        @include center-block;

        @include bp( 1 ) {
          max-width: 75%;
          transition: transit( all );
        }

        @include bp( 1024 ) {
          max-width: 800px;
        }
      }
    }

    .page-title {
      font-size: 55px;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 40px;
      line-height: 37px;
    }

    .message {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.32px;
      font-weight: 700;
      margin-bottom: 52px;

      @include bp( 1, 1023 ) {
        max-width: 65%;

        @include center-block;
      }
    }

    .btn {
      margin-bottom: 70px;
    }
  }
}
