.category,
.blog:not(.paged) {
  article,
  article.dg-other-posts {
    &:nth-child(3n+1) {
      @include bp( 1024 ) {
        margin-right: 0;
      }
    }
  }
}

.category,
.blog {
  &.paged {
    article,
    article.dg-other-posts {
      &:nth-child(3n+0) {
        @include bp( 1024 ) {
          margin-right: 0;
        }
      }
    }
  }
}

.search {
  article {
    &:nth-child(3n+0) {
      @include bp( 1024 ) {
        margin-right: 0;
      }
    }

    .btn-wrap {
      display: none;
    }

    .entry-summary {
      display: none;
    }
  }
}

.category,
.search,
.blog {
  .content {
    max-width: $w1192;

    @include center-block;

    @include bp( 1, 1264 ) {
      padding: 50px 20px;
    }

    @include bp( 1265 ) {
      margin-top: 100px;
    }
  }

  article,
  article.dg-other-posts {
    float: left;
    text-align: center;
    position: relative;

    @include bp( 1 ) {
      margin-bottom: 50px;
    }

    @include bp( 768 ) {
      width: 49%;
    }

    @include bp( 1024 ) {
      margin-bottom: 102px;
      width: 32%;
      margin-right: 2%;
    }

    .post-thumbnail {
      @include bp( 768, 1259 ) {
        padding: 2%;
      }
    }

    img {
      display: block;
    }

    header {
      time {
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0;
        color: $brown;
        margin-top: 36px;
        margin-bottom: 29px;
        display: block;
      }

      .entry-title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.44px;
        line-height: 24px;
        margin-bottom: 40px;
      }

      .sep {
        border: 1px solid $brown;
        width: 79px;
        opacity: 0.5;

        @include absmid( 'h' );

        bottom: 0;
      }
    }
  }

  article.dg-first-post {
    margin-bottom: 79px;
    max-width: $w1192;
    background-color: $wblue;
    width: 100%;

    @include center-block;

    .post-thumbnail {
      flex-grow: 1;
      padding: 0;

      @include bp( 768 ) {
        width: 50%;
        float: left;
      }

      @include bp( 1260 ) {
        min-width: 597px;
      }

      img {
        @include bp( 1 ) {
          @include center-block;
        }
      }
    }

    .post-content-wrapper {
      @include bp( 768 ) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .home-post-content {
        @include bp( 1 ) {
          padding: 40px 0;
          flex-grow: 1;
          text-align: center;
        }

        @include bp( 768 ) {
          width: 50%;
          float: right;
          padding: 10px 0;
          padding: 0 20px;
          text-align: left;
        }

        @include bp( 1024 ) {
          padding-left: 87px;
        }

        header {
          @include bp( 1024 ) {
            position: relative;
          }

          time {
            font-size: 20px;
            line-height: 37px;
            color: $brown;
            letter-spacing: 0;

            @include bp( 1 ) {
              margin: 0;
            }
          }

          .entry-title {
            @include bp( 1 ) {
              margin: 10px 0;
            }

            @include bp( 1024 ) {
              margin-top: 44px;
              margin-bottom: 60px;
            }

            a {
              font-weight: 700;
              font-size: 25px;
              line-height: 34px;
              letter-spacing: 1.25px;

              @include colored-links( $blue, $brown, $blue );
            }
          }

          .sep {
            border-top: 1px solid $brown;
            opacity: 0.5;
            max-width: 103px;

            @include bp( 1, 1023 ) {
              display: none;
            }

            @include bp( 1024 ) {
              margin: 0; //39px 0 42px;
              left: 0;
              transform: none;
              bottom: -30px;
            }
          }
        }

        .entry-summary {
          max-width: 438px;

          @include bp( 1, 767 ) {
            @include center-block;
          }
        }
      }
    }

    .btn-wrap {
      @include bp( 1 ) {
        text-align: center;
        margin-top: 22px;
      }

      @include bp( 768 ) {
        text-align: left;
      }

      @include bp( 1024 ) {
        margin-top: 43px;
      }
    }
  }
}
