.search-results {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div.woocommerce {
      ul.products {
        li.product {
          width: 100% !important;
        }
      }
    }

    article {
      max-width: 300px;
      margin-right: 0;
    }
  }
}
