.archive,
.post-type-archive-product {
  .shop-sidebar {
    @include bp( 1, 1199 ) {
      @include center-block;

      width: 80%;
    }

    @include bp( 1200 ) {
      float: left;
      width: 226px;
    }
  }

  .content-area {
    @include bp( 1200 ) {
      float: right;
      width: 75%;
    }
  }
}
