body,
button,
input,
select,
optgroup,
textarea {
  color: $blue;
  font-family: $font;
  letter-spacing: 1.28px;
  line-height: 22px;
  overflow-x: hidden;

  @include font-size(1);
  //line-height: $font__line-height-body;
}

pre {
  white-space: pre-wrap;
}
