// Slick Carousel font path
$slick-font-path: '~slick-carousel/slick/fonts/';

// Slick Carousel ajax-loader.gif path
$slick-loader-path: '~slick-carousel/slick/';

/** colors */
$brand-primary:         #525ddc;

$blue:                  #304251;
$dblue:                 #1f2b34;
$lblue:                 rgba( $blue, 0.8 );
$llblue:                rgba( $blue, 0.55 );

$overlay:               #8aa1b6;
$wblue:                 #eff0f4; // white-blue
$greyOver:              #d2d4db;

$grey: #d5d9dc;
$brown: #916c27;
$red: #bc1300;

/** box model  */
$spacer:                2rem;

$w1192:                 1192px;
$wider:                 1830px;
